.body{
    width: 90%;
    margin: 3% 5%;
    border-radius: 10px;
    background: rgba(255,255,255,0.3);
}
.gradient-background {
    background: linear-gradient(191deg, #0c356a, #0174be);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:62% 0%}
    50%{background-position:39% 100%}
    100%{background-position:62% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:62% 0%}
    50%{background-position:39% 100%}
    100%{background-position:62% 0%}
}
@keyframes AnimationName {
    0%{background-position:62% 0%}
    50%{background-position:39% 100%}
    100%{background-position:62% 0%}
}
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
    background-color: #001a79ae;
}
#image:hover {  border:1px solid lightblue;  box-shadow: 0 0 10px lightblue;  -webkit-box-shadow: 0 0 10px lightblue;  -moz-box-shadow: 0 0 10px lightblue;  -o-box-shadow: 0 0 10px lightblue;  -ms-box-shadow: 0 0 10px lightblue;}