.gradient-background{
  background: linear-gradient(288deg, #df08a1, #ee4202, #e200f2);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 40%}
  50%{background-position:100% 61%}
  100%{background-position:0% 40%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 40%}
  50%{background-position:100% 61%}
  100%{background-position:0% 40%}
}
@keyframes AnimationName {
  0%{background-position:0% 40%}
  50%{background-position:100% 61%}
  100%{background-position:0% 40%}
}
.dog-img{
  border-radius: 50%;
}
#testimonial p{
  margin-bottom: 65px;
}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}
